/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 de mar. de 2025, 14:18:45
    Author     : Direitor
*/

:root{
    --corcorpo:(#ffffff);
    --corbotao:(#0A66C2);
}





form{
    margin-bottom: 23px;
   background: var(--corcorpo);
   margin: 0 auto 0 auto;
   width: 350px;
   height: 500px;
   box-shadow: 2px 2px 2px 2px #999999;
   border: none;
   
}

.m{
    margin-bottom: 50px;
}

.google,.apple{
    padding: 15px 0 15px 0;
   text-align: center;
    border-radius: 30px;
    border-style:double ;
}

input[type="text"],input[type="password"]{
    
    display: block;
    padding: 10px 0 10px 0;
    margin-bottom: 13px;
    width: 90%;
}

input[type="submit"]{
    background: #0A66C2;
   margin-top: 40px;
    display: block;
    width: 90%;
     padding: 15px 0 15px 0;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.global{
    padding-left: 20px;
    padding-right:20px;
    
   
    
}

.te{
    text-align: center;
}

footer{
    display: inline-flex;
    margin-top: 20px;
    list-style: none;
}
li{
    padding-left: 20px;
}

select{
    margin-left: 5px;
}